.ProductBox{
  margin: 20px;
  border: 2px solid white;
  box-shadow: 0px 0px 20px 1px #545365;
  border-radius: 30px;
  width: 300px;
  height: 400px;
}
.ProductsContainer{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.ProductBox img{
  width: 70%;
}

.description{
  height: 40px;
}
h2{
  color: #545365;
}
p{
  font-size: 16px;
  font-weight: 500;
  color: #545365;
}

.Button{
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}
